<?xml version="1.0"?>
<model>
  <name>gamb</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.4">model-1.4.sdf</sdf>
  
  <author>
    <name>Leejeonghun</name>
    <email>jhleee1214@gmai.com</email>
  </author>
  
  <description>
    project gamb.
  </description>
</model>
